<section id="footer">
  <div class="col">
    <img src="http://cl.ly/3L050W040z32/download/Screen%20Shot%202016-06-27%20at%202.12.34%20PM.png">
  </div>
  <div class="col">
    <p>
      <strong>Address</strong><br>
      400 Lafayette Street, Ste 100<br>
      New Orleans, LA 70130
    </p>
    <p>
      <strong>Contact</strong><br>
      Email: info@apcconstruction.com<br>
      Phone: (504) 539-4260<br>
      Fax: (504) 324-0777
    </p>
  </div>
  <div class="col">
    <p><strong>Additional Links</strong></p>
    <ul>
      <li>Dapibus Ornare Pharetra</li>
      <li>Dapibus Sollicitudin Quam</li>
      <li>Fringilla Nullam Ligula</li>
      <li>Justo Vehicula</li>
      <li>Mollis Sollicitudin</li>
    </ul>
  </div>
</section>