<section id="footer">
  <div class="container">
  <div class="col">
    <img src="/assets/map.png">
  </div>
  <div class="col">
    <p>
      <strong>Address</strong><br>
      400 Lafayette Street, Ste 100<br>
      New Orleans, LA 70130
    </p>
    <p>
      <strong>Contact</strong><br>
      Email: <a href="mailto:info@apcconstruction.com">info@apcconstruction.com</a><br>
      Phone: (504) 539-4260<br>
      Fax: (504) 324-0777
    </p>
  </div>
  <div class="col">
    <p><strong>Additional Links</strong><br>
      <a href="#">Dapibus Ornare Pharetra</a><br>
      <a href="#">Dapibus Sollicitudin Quam</a><br>
      <a href="#">Fringilla Nullam Ligula</a><br>
      <a href="#">Justo Vehicula</a><br>
      <a href="#">Mollis Sollicitudin</a><br>
    </p>
  </div>
  </div>
</section>