<section class="header">
	<div class="container">
		<a href="/" class="logo">{% include logo.svg %}</a>
		<svg class="menu-toggle" version="1.1"
			xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
			x="0px" y="0px" width="40px" height="19px" viewBox="0 0 40 19" enable-background="new 0 0 40 19" xml:space="preserve">
			<defs></defs>
			<rect fill="#E0E0E0" width="40" height="3"/>
			<rect y="8" fill="#E0E0E0" width="40" height="3"/>
			<rect y="16" fill="#E0E0E0" width="40" height="3"/>
		</svg>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/#services">Services</a></li>
			<li><a href="/#projects">Projects</a></li>
			<li><a href="/safety">Safety</a></li>
			<li class="last"><a href="/#contact">Contact</a></li>
		</ul>
	</div>
</section>

<script>
	var header = function () {
		var animation = 'rubberBand'
		$('.menu-toggle').click(function () {
			$(this).addClass('animated').addClass(animation)
			$('body').toggleClass('menu-open')
			var events = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend'
			$(this).one(events, function () {
				$(this).removeClass('animated').removeClass(animation)
			})
		})

		var topClass = function () {
			if ($(document).scrollTop() > 10) {
				$('body').addClass('scrolled')
			} else {
				$('body').removeClass('scrolled')
			}
			$('body').css({ opacity: 1 })
		}
		topClass()
		$(window).scroll($.throttle(200, topClass))
	}
	document.addEventListener('DOMContentLoaded', header, false);
</script>