<section class="hero">
  <video autoplay class="background" src="/assets/video/cover.mp4"></video>
  <img src="/assets/project-images/workers-4.jpg" class="background" />
  <div class="content-container">
    <div class="content">
      <h1>APC Construction</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p>
      <ul class="buttons">
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </div>
    <div class="arrow">
      <svg version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
        x="0px" y="0px" width="33.4px" height="19.5px" viewBox="0 0 33.4 19.5" enable-background="new 0 0 33.4 19.5"
        xml:space="preserve">
      <defs>
      </defs>
      <g>
        <path fill="#FFFFFF" d="M33.4,2.8c0,0.3-0.1,0.5-0.3,0.8L17.5,19.2c-0.2,0.2-0.5,0.3-0.8,0.3c-0.3,0-0.5-0.1-0.8-0.3L0.3,3.5
          C0.1,3.3,0,3.1,0,2.8C0,2.5,0.1,2.2,0.3,2L2,0.3C2.2,0.1,2.5,0,2.8,0c0.3,0,0.5,0.1,0.8,0.3l13.2,13.2L29.9,0.3
          C30.1,0.1,30.3,0,30.6,0s0.5,0.1,0.8,0.3L33.1,2C33.3,2.2,33.4,2.5,33.4,2.8z"/>
      </g>
      </svg>
    </div>
  </div>
</section>


<script type="text/javascript">
  var hero = function () {
    if ($('section.hero').length) {
      // sets height of hero image
      var windowWidth = $(window).width();
      $('section.hero').height(window.innerHeight)
      $(window).resize($.throttle(200, function () {
        if ($(window).width() != windowWidth) {
          windowWidth = $(window).width();
          $('section.hero').height(window.innerHeight)
        }
      }))

      // hero animations
      $('section.hero h1, section.hero p, section.hero .buttons').css({ opacity: 0 })
      $('section.hero h1').addClass('animated').addClass('fadeInUp')
      setTimeout(function () { $('section.hero p').addClass('animated').addClass('fadeInUp') }, 500)
      setTimeout(function () { $('section.hero .buttons').addClass('animated').addClass('fadeInUp') }, 1000)

      // arrow click scroll
      $('section.hero .arrow').click(function () {
        $('html, body').animate({ scrollTop: $('#services').offset().top - 70 }, 1000)
      })
    }
  }

  document.addEventListener('DOMContentLoaded', hero, false);
</script>
