<section id="projects" class="items">
  <div class="filter">
    <div class="container">
      <a data-filter="all">All</a>
      {% for service in site.services %}
        <a data-filter="{{ service.slug }}">{{ service.name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="items">
    {% for project in site.projects %}
      <a href="{{ project.url }}.html" class="project item" data-service="{{ project.service }}">
        <div class="background" style="background-image: url('{{ project.image }}')"></div>
        <div class="content">
          <h3>{{ project.name }}</h3>
          <i></i>
          <p>{{ project.teaser }}</p>
          {% include circle-plus.svg %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>