<section id="projects" class="projects">
  {% if include.title != null %}
    <div class="title">
      <h3>{{ include.title }}</h3>
    </div>
  {% endif %}
  {% if include.service == null %}
    <div class="filter">
      <div class="container">
        <a href="#" class="active" data-filter="all">All</a>
        {% for service in site.services %}
          <a href="#" data-filter="{{ service.name | slugify }}">{{ service.name }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="items">
    {% if include.service != null %}
      {% assign projects = site.projects | where: 'service', include.service  %}
    {% else %}
      {% assign projects = site.projects %}
    {% endif %}
    {% for project in projects %}
      <a href="{{ project.url }}" class="project item" data-service="{{ project.service }}">
        <div class="background">
          <div class="image"><img src="{{ project.image | resize:20,20 }}" data-original="{{ project.image | resize:600,600 }}" /></div>
        </div>
        <div class="content">
          <h3>{{ project.name }}</h3>
          <i></i>
          <p>{{ project.teaser }}</p>
          {% include circle-plus.svg %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>