<section id="projects" class="projects">
  <div style="height: 71px"></div>
  <div class="filter">
    <div class="container">
      <a data-filter="all">All</a>
      {% for service in site.services %}
        <a data-filter="{{ service.name | slugify }}">{{ service.name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="items">
    {% for project in site.projects %}
      <a href="{{ project.url }}" class="project item" data-service="{{ project.service }}">
        <div class="background" style="background-image: url('{{ project.image }}')"></div>
        <div class="content">
          <h3>{{ project.name }}</h3>
          <i></i>
          <p>{{ project.teaser }}</p>
          {% include circle-plus.svg %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>


<script type="text/javascript">
  var projects = function () {
    // add and remove project animation classes
    $('section.projects svg').addClass('animated').addClass('rotateOut')
    $('section.projects a').hover(function () {
      $(this).find('svg').removeClass('rotateOut').addClass('rotateIn')
    }, function () {
      $(this).find('svg').removeClass('rotateIn').addClass('rotateOut')
    })

    // project filters
    $('section.projects .item').each(function () { $(this).addClass('show') })
    $('[data-filter]').click(function () {
      var filter = $(this).attr('data-filter')
      $('[data-service]').each(function () { $(this).removeClass('show') })
      if (filter === 'all') {
        $('[data-service]').each(function () { $(this).addClass('show') })
      } else {
        $('[data-service=' + filter + ']').each(function () { $(this).addClass('show') })
      }
    })

  }

  document.addEventListener('DOMContentLoaded', projects, false);
</script>